*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.feature-wrapper{
    /* margin-top: -50px; */
    background-color: #E7F9D5;
}
.feature{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 800px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.content-left{
    max-width: 500px;
}


.image{
    max-width: 300px;
}
.feature .heading{
    width: 100%;
    margin: 30px auto;
    color: #654E55;
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.feature .detail{
    color: #654E55;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}